
.nav__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 40px;
}

.nav{
    max-width: 1178px;
    margin: auto;
    margin-top: 90px;
}

.nav__list{
    display: flex;
    list-style-type: none;
    font-weight: 400;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
}

.nav__item:not(:last-child):after {
    content: ">";
    margin-left: 20px;
    margin-right: 20px;
  }

.nav__link {
    color: #000000;
    text-decoration: none;
}

.current{
    color: #000000;
    opacity: 50%;
}

.catalog{
    max-width: 1178px;
    margin: auto;
    margin-top: 50px;
}

.catalog__upperlist{
    display: flex;
    gap: 20px;
    width: 1080px;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 700;
}


.catalog__lowerlist{
    margin-top: 23px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    width: 1080px;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.catalog__item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 280px;
    height: 270px;
}

.catalog__item>a{
    max-width: 200px;
    z-index: 1;
    position: absolute;
    text-align: center;
}

.catalog__apparel{
    background-color: #DBE4DB;
}

.catalog__holiday{
    background-color: #EADDD3;
}

.catalog__toys{
    background-color: #F8F2DA;
}

.catalog__accesories{
    background-color: #D5D4E1;
}

.catalog__sale{
    background-color: #F3D0DB;
}

.catalog__adults{
    background-color: #E5EAF8;
}

.catalog__link{
    color: #ffffff;
    text-decoration: none;
}

.catalog__link:hover{
    text-decoration: underline;
}

.catalog__link:active{
    text-decoration: underline;
}

.catalog__img{
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
}

.catalog__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
}

.catalog__text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.catalog__textblock{
    margin-top: 55px;
    max-width: 680px;
    margin: 55px auto 55px 17%;
}

.catalog__textblock>p:not(:first-child){
    margin-top: 15px;
}
