*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.header {
    display: flex;
    align-items: center;
    max-width: 1178px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 129px;
    justify-content: space-between;
}

.header__leftblock {
    display: flex;
    align-items: center;
}

.header__link-index {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    height: 52px;
    width: 100px;
    background-image: url(../images/LOGO.svg);
    margin-left: -2px;
}

.header__link-index:hover {
    opacity: 50%;
}

.header__link-index:active {
    opacity: 20%;
}

.nav__title {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 40px;
}

/* toys и catalog */
.nav {
    max-width: 1178px;
    margin: -67px auto;
}

.nav__list {
    display: flex;
    list-style-type: none;
    font-weight: 400;
    font-family: 'Crimson Text', Arial, sans-serif;
    font-size: 20px;
    margin-top: 17px;
}

.nav__item:not(:last-child):after {
    content: url(../images/Crumbs.svg);
    margin-left: 20px;
    margin-right: 20px;
}

.nav__link {
    color: #000000;
    text-decoration: none;
}


.current {
    color: #000000;
    opacity: 50%;
}


.header__nav-list {
    display: flex;
    font-size: 14px;
    line-height: 19px;
    margin-left: 51px;
    margin-top: -1px;
}

.header__row-list {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.header__nav-item {
    margin: 10px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    list-style-type: none;
    color: #1E0606;
    white-space: nowrap;
}

.header__row-item {
    margin: 11px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
    list-style-type: none;
    color: #1E0606;
    white-space: nowrap;
}

.header__nav-item>a:visited,
.header__row-item>a:visited,
.header__row-item>img:visited {
    color: #1E0606
}

.header__nav-item>a:hover,
.header__row-item>a:hover,
.header__row-item>img:hover {
    opacity: 50%;
}

.header__nav-item>a:active,
.header__row-item>a:active,
.header__row-item>img:active {
    opacity: 20%;
}

.header__nav-item>a,
.header__row-item>a {
    text-decoration: none;
}

.header__search-hide {
    display: none;
}

.header__search-icon {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    margin-right: -2px;
    background-image: url(../images/search.svg);

}

.header__link {
    letter-spacing: 0.5px;
    padding-left: 7px;
    margin-right: -14px;
}

.header__search-icon:hover {
    opacity: 50%;
}

.header__search-icon:active {
    opacity: 20%;
}

.slider__list {
    list-style: none;
    text-decoration: none;
    display: flex;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.slider__img {
    position: absolute;
}

.slider__item {
    margin: 0 10px;
    width: 280px;
    height: 270px;
}

/* .slider__link {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    top: 50%;
    width: 10px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
} */

.slider__kids>a,
.slider__shop>a {
    top: 40%;
}

.slider__link:hover {
    text-decoration: underline;
}

.slider__link:visited {
    color: #FFFFFF;

}

.slider__item>img {
    position: absolute;
}

.slider__kids {
    margin-left: 0;
    background-color: #DBE4DB;
}

.slider__kids>img {
    margin-top: 46px;
    margin-left: 18px;
}

.slider__shop {
    background-color: #EADDD3;
}

.slider__shop>img {
    margin-top: 13px;
    margin-left: 36px;
}

.slider__toys {
    background-color: #F8F2DA;
}

.slider__accesories {
    margin-right: 0;
    background-color: #D5D4E1;
}

.slider__accesories>img {
    margin-top: 10px;
    margin-left: 20px;
}

.slider__buttons>button:hover {
    cursor: pointer;
}

.features {
    max-width: 1178px;
    margin: auto;
    margin-top: 90px;
    display: flex;
}

.catalog__pages {
    width: 1174px;
    display: flex;
    justify-content: space-between;
}

.catalog__pages-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    max-width: 234px;
    gap: 66px;
}

.catalog__pages-item>a {
    text-decoration: none;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #1E0606;
}

.catalog__pages-item:first-child>a {
    color: #C29974;
}

.catalog__pages-item:hover>a {
    color: #AAAAAA;
}

.catalog__arrowleft {
    width: 20px;
    height: 30px;
    background-image: url(../images/arrow.svg);
    opacity: 12%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-position: center;
    margin-top: -6px;
    margin-left: -1px;
}

.catalog__arrowleft:hover {
    width: 20px;
    height: 30px;
    background-image: url(../images/arrowhover.svg);
    opacity: 100%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-position: center;
}

.catalog__arrowleft:active {
    width: 20px;
    height: 30px;
    background-image: url(../images/arrowhover.svg);
    opacity: 70%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-position: center;
}

.catalog__arrowRight {
    width: 20px;
    height: 30px;
    background-image: url(../images/arrow.svg);
    opacity: 12%;
    background-position: center;
    margin-top: -6px;
    margin-right: -5px;
}

.catalog__arrowRight:hover {
    width: 20px;
    height: 30px;
    background-image: url(../images/arrowhover.svg);
    opacity: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.catalog__arrowRight:active {
    width: 20px;
    height: 30px;
    background-image: url(../images/arrowhover.svg);
    opacity: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

/* общие стили для форм */
.section__input {
    box-sizing: border-box;
    outline: none;
}

.section__input:hover {
    border-color: #C29974;
}

.section__input:active {
    border-color: #C29974;
}

.section__input:focus {
    border-color: #C29974;
}

.section__input:disabled {
    border-color: #EBEBEB;
}

.footer {
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 555px;
    margin: auto;
    background-color: #434343;
    padding-top: 100px;
}

.footer__blockorder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1400px;
}

.footer__top-row {
    display: flex;
    width: 1400px;
    justify-content: center;
    gap: 20px;
    margin-top: 2px;
}

.footer__navigation,
.footer__info,
.footer__connect {
    max-width: 380px;
    width: 380px;
    list-style-type: none;
    height: 280px;
}

.footer__navigation-text,
.footer__info-text,
.footer__connect-text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #AAAAAA;
    margin-bottom: 25px;
}

.footer__navigation-col,
.footer__info-list,
.footer__connect-form {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #666666;
    padding-top: 28px;
}

.footer__connect-form {
    padding-top: 24px;
}

.footer__connect-form {
    display: flex;
    align-items: center;
}

.footer__connect-form-input {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 290px;
    height: 40px;
    padding-left: 15px;
    background-color: #666666;
    color: #ffffff;
    outline: none;
    border: none;
}

.footer__connect-form-input:hover {
    border-color: #ffffff;
    outline: solid;
    outline-width: 1px;
}

.footer__connect-form-input:active {
    border-color: #ffffff;
    outline: solid;
    outline-width: 1px;
}

.footer__connect-form-btn {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    padding: 10px 22px;
    border: none;
    background-color: #000000;
    color: #ffffff;
}

.footer__connect-form-btn:hover {
    background-color: #C29974;
}

.footer__connect-form-btn:active {
    background-color: #CFAF91;
}

.footer__connect-form-btn:disabled {
    background-color: #C7C1C1;
}

.footer__connect-form>input::placeholder {
    color: #ffffff;
}

.footer__socials {
    margin-top: 25px;
}

.footer__socials-list {
    display: flex;
    gap: 10px;
}

.facebook {
    display: block;
    background-image: url(../images/Facebook.svg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
}

.twitter {
    display: block;
    background-image: url(../images/Twitter.svg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
}

.pinterest {
    display: block;
    background-image: url(../images/Pinterest.svg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
}

.instagram {
    display: block;
    background-image: url(../images/Instagram.svg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
}

.footer__lower-row {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #666666;
    padding-top: 26px;
    margin-top: 27px;
    display: flex;
    width: 1180px;
    justify-content: space-between;
    margin-bottom: 100px;
}


.footer__col-list,
.footer__info-list,
.footer__socials-list {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    list-style-type: none;
}

/* добавил отступ всем кроме первого элемента списка ссылок */
.footer__col-list>*+*,
.footer__info-list>*+* {
    margin-top: 15px;
}

.footer__navigation-link,
.footer__info-link {
    text-decoration: none;
    color: #ffffff;
}

.footer__navigation-link:hover,
.footer__info-link:hover,
.footer__link:hover {
    opacity: 50%;
}

.footer__navigation-link:active,
.footer__info-link:active,
.footer__link:active {
    opacity: 20%;
}

.footer__col-item>a:visited {
    text-decoration: none;
}

.footer__col-list>a {
    text-decoration: none;
}

.footer__raiting-container {
    max-width: 380px;
    width: 380px;
    display: flex;
    gap: 25px;
}

.footer__raiting-container {
    color: #666666;
}

.footer__copiright-container,
.footer__text-container {
    max-width: 380px;
    width: 380px;
}

.footer__text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.footer__design-link {
    display: block;
    max-width: 380px;
    width: 380px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #A2A2A2;
    text-decoration: none;
}


.footer__design-link:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

.footer__design-link:active {
    text-decoration: underline;
    color: #FFFFFF;
}

.footer__raiting {
    position: relative;
    font-size: 15px;
    display: inline-block;
    margin-left: 2px;
    width: 100px;
}


.footer__raiting-items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.footer__input {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}

.footer__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #ffffff;
}

.footer__label::before {
    content: "★";
    display: block;
    transition: color 0.3s ease 0s;
}

.footer__input:checked,
.footer__input:checked~.footer__label {
    color: #C29974;
}

.footer__label:hover,
.footer__label:hover~.footer__label,
.footer__label:checked~.footer__label:hover {
    color: #836E5B;
}

/* warning!!! do not change this class! It's connected with JS */
.footer__colorHoverJs>p {
    color: #C29974
}

.footer__raiting-text {
    color: #C29974;
    transition: none;
}