*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.header {
    display: flex;
    align-items: center;
    max-width: 1178px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 129px;
    justify-content: space-between;
}

.header__leftblock {
    display: flex;
    align-items: center;
}

.header__link-index {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    height: 52px;
    width: 100px;
    background-image: url(../images/LOGO.svg);
    margin-left: -1px;
}

.header__link-index:hover {
    opacity: 50%;
}

.header__link-index:active {
    opacity: 20%;
}

.nav__title {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 40px;
}

/* toys и catalog */
.nav {
    max-width: 1178px;
    margin: auto;
    margin-top: 90px;
}

.nav__list {
    display: flex;
    list-style-type: none;
    font-weight: 400;
    font-family: 'Crimson Text', Arial, sans-serif;
    font-size: 20px;
}

.nav__item:not(:last-child):after {
    content: url(../images/Crumbs.svg);
    margin-left: 20px;
    margin-right: 20px;
}

.nav__link {
    color: #000000;
    text-decoration: none;
}


.current {
    color: #000000;
    opacity: 50%;
}


.header__nav-list {
    display: flex;
    font-size: 14px;
    line-height: 19px;
    margin-left: 50px;
}

.header__row-list {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.header__nav-item {
    margin: 10px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    list-style-type: none;
    color: #1E0606;
    white-space: nowrap;
}

.header__row-item {
    margin: 11px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
    list-style-type: none;
    color: #1E0606;
    white-space: nowrap;
}

.header__nav-item>a:visited,
.header__row-item>a:visited,
.header__row-item>img:visited {
    color: #1E0606
}

.header__nav-item>a:hover,
.header__row-item>a:hover,
.header__row-item>img:hover {
    opacity: 50%;
}

.header__nav-item>a:active,
.header__row-item>a:active,
.header__row-item>img:active {
    opacity: 20%;
}

.header__nav-item>a,
.header__row-item>a {
    text-decoration: none;
}

.header__search-hide {
    display: none;
}

.header__search-icon {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    margin-right: -1px;
    background-image: url(../images/search.svg);

}

.header__link {
    letter-spacing: 0.5px;
    padding-left: 5px;
    margin-right: -12px;
}

.header__search-icon:hover {
    opacity: 50%;
}

.header__search-icon:active {
    opacity: 20%;
}

.banner {
    position: relative;
    display: flex;
    max-width: 1178px;
    height: 411px;
    margin: auto;
    background-color: #EEE4DB;
}

.banner__img {
    position: absolute;
    height: 461px;
    bottom: 11.4%;
    left: 101.7%;
}

.banner__slider-list {
    margin-left: 30px;
    margin-top: 4%;
    list-style: none;
    outline: none;
    border-width: none;
}

.banner__slider-item {
    width: 31px;
    height: 3px;
}

.banner__slider-item:not(:first-child) {
    margin-top: 11px;
}

.banner__slider-item>button:focus {
    background-color: #725F5B;
}

.banner__slider-item>button {
    background-color: #D6CAC2;
    border: 0;
    width: 31px;
    height: 3px;
}

.banner__content {
    margin-left: 44px;
    margin-top: 65px;
    position: relative;
}

.banner__content-list {
    list-style: none;
}

.banner__slider-btn:hover {
    background-color: #1E060699;
    cursor: pointer;
}

.banner__content-item {
    margin-top: 20px;
}

.banner__content-title {
    width: 307px;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 44px;
}

.banner__text {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Crimson Text', Arial, sans-serif;
    line-height: 26px;
    margin-top: -11px;
}

.banner__additionalInfo {
    position: absolute;
    top: 90.4%;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    color: #FFFFFF;
    padding: 11px 364px;
    background-color: #C29974;
    text-transform: uppercase;
    white-space: nowrap;
}

.banner__content-item>button {
    padding: 11px 22px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
    border: 0;
    margin-top: 1px;
}

.banner__content-item>button:hover {
    background-color: #C29974;
    color: #FFFFFF;
}

.banner__content-item>button:active {
    background-color: #CFAF91;
}

.banner__content-item>button:disabled {
    background-color: #C7C1C1;
}


.banner__slider-number {
    position: relative;
    top: 1%;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 60px;
    color: #1E0606;
    opacity: 5%;
    margin-left: 28px;
}

.banner__slider {
    margin-top: 17px;
}

.slider {
    max-width: 1178px;
    margin: auto;
    margin-top: 90px;
}

.slider__title {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    padding-top: 2px;
    margin-bottom: 30px;
    font-size: 38px;
}

.slider__list {
    list-style: none;
    text-decoration: none;
    display: flex;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.slider__img {
    position: absolute;
}

.slider__item {
    margin: 0 10px;
    width: 280px;
    height: 270px;
}

.slider__link {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    top: 51%;
    width: 10px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-transform: uppercase;
}

.slider__kids>a,
.slider__shop>a {
    top: 40%;
}

.slider__link:hover {
    text-decoration: underline;
}

.slider__link:visited {
    color: #FFFFFF;

}

.slider__item>img {
    position: absolute;
}

.slider__kids {
    margin-left: 0;
    background-color: #DBE4DB;
}

.slider__kids>img {
    margin-top: 46px;
    margin-left: 18px;
}

.slider__link-kids {
    margin-top: -1px;
}

.slider__shop {
    background-color: #EADDD3;
}

.slider__shop>img {
    margin-top: 13px;
    margin-left: 36px;
}

.slider__toys {
    background-color: #F8F2DA;
}

.slider__img-toys {
    margin-left: 5px;
}

.slider__link-toys {
    margin-top: -5%;
}

.slider__accesories {
    margin-right: 0;
    background-color: #D5D4E1;
}

.slider__accesories>img {
    margin-top: 10px;
    margin-left: 20px;
}

.slider__link-accessories {
    margin-top: -15px;
}

.slider__buttons {
    display: flex;
    margin-top: 31px;
}

.slider__text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 580px;
    margin-left: 20px;
    line-height: 22px;
}

.slider__buttons>button {
    position: relative;
    background-color: #70BBDC33;
    border: 0;
    height: 37px;
    width: 37px;
    margin-top: 3px;
}

.slider__buttons>button:hover {
    cursor: pointer;
}

.slider__leftBtn {
    transform: rotate(180deg);
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.slider__rightBtn {
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 6px;
}

.features {
    max-width: 1178px;
    margin: auto;
    margin-top: 90px;
    display: flex;
}

.features__list {
    list-style: none;
    margin-left: 60px;
    margin-top: 31px;
}

.features__title {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    font-size: 38px;
    padding-left: 60px;
}

.features__btn {
    font-family: 'Crimson Text', Arial, sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    border: none;
    background-color: transparent;
    padding-left: 60px;
}

.features__active {
    font-family: 'Crimson Text', Arial, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    margin-top: 8px;
    background-color: #70BBDC33;
    padding: 11px 180px 11px 60px;
}

.features__guarantee {
    margin-top: 9px;
}

.features__credit {
    margin-top: 20px;
}

.features__description {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    max-width: 480px;
    line-height: 22px;
    padding-left: 60px;
}

.features__margin {
    margin-top: 31px;
    margin-bottom: 17px;
}

.features__link {
    padding: 9px 22px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: 0;
    text-decoration: none;
    margin-left: 60px;
    margin-top: 15px;
    text-transform: uppercase;
}

.features__item-link {
    margin-top: 36px;
}

.features__link:hover {
    background-color: #C29974;
}

.features__link:active {
    background-color: #CFAF91;
}

.sponsors {
    max-width: 1178px;
    margin: auto;
    margin-top: 91px;
    margin-bottom: 90px;
}

.sponsors__title {
    opacity: 0;
    position: absolute;
}

.sponsors__list {
    display: inline-flex;
    list-style: none;
    align-items: center;
}

.sponsors__list>li {
    margin-right: 127px;
}

.info {
    max-width: 1180px;
    margin: auto;
    display: flex;
    margin-bottom: 25px;
}

.info__aboutUs {
    max-width: 543px;
    max-height: 228px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #E1F0F7;
    margin-bottom: 130px;
    margin-top: 21px;
}


.info__title-hidden {
    opacity: 0;
    position: absolute;
}

.info__title {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin-top: -24px;
    margin-left: 30px;
}

.info__subtitle {
    font-family: 'Crimson Text', Arial, serif;
    font-weight: 400;
    font-size: 26px;
    margin-left: 30px;
    margin-top: -8px;
}

.info__aboutUs-text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-left: 30px;
    width: 483px;
    margin-top: -8px;
}

.info__link {
    max-width: max-content;
    padding: 11px 22px;
    background-color: #000000;
    margin-top: 1px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: #FFFFFF;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: 0;
    text-decoration: none;
}

.info__link:hover {
    background-color: #C29974;
}

.info__link:active {
    background-color: #CFAF91;
}

.info__contacts {
    max-width: 543px;
    max-height: 209px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-left: 57px;
    margin-top: 21px;
    background-color: #E1F0F7;
}

.info__contacts-text {
    margin-left: 30px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    max-width: 483px;
}

.info__map {
    margin-left: 30px;
    margin-top: 10px;
}

.footer {
    max-width: 1400px;
    max-height: 555px;
    margin: auto;
    background-color: #434343;
    padding-top: 100px;
}

.footer__blockorder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer__top-row {
    display: flex;
    width: 1400px;
    justify-content: center;
    gap: 20px;
    margin-top: 2px;
}

.footer__navigation,
.footer__info,
.footer__connect {
    max-width: 380px;
    width: 380px;
    list-style-type: none;
}

.footer__navigation-text,
.footer__info-text,
.footer__connect-text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #AAAAAA;
    margin-bottom: 25px;
}

.footer__navigation-col,
.footer__info-list,
.footer__connect-form {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #666666;
    padding-top: 28px;
}

.footer__connect-form {
    padding-top: 24px;
}

.footer__connect-form {
    display: flex;
    align-items: center;
}

.footer__connect-form-input {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 290px;
    height: 40px;
    padding-left: 15px;
    background-color: #666666;
    color: #ffffff;
    outline: none;
    border: none;
}

.footer__connect-form-input:hover {
    border-color: #ffffff;
    outline: solid;
    outline-width: 1px;
}

.footer__connect-form-input:active {
    border-color: #ffffff;
    outline: solid;
    outline-width: 1px;
}

.footer__connect-form-btn {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    padding: 10px 22px;
    border: none;
    background-color: #000000;
    color: #ffffff;
}

.footer__connect-form>input::placeholder {
    color: #ffffff;
}

.footer__socials {
    margin-top: 25px;
}

.footer__socials-list {
    display: flex;
    gap: 10px;
}

.facebook {
    display: block;
    background-image: url(../images/Facebook.svg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
}

.twitter {
    display: block;
    background-image: url(../images/Twitter.svg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
}

.pinterest {
    display: block;
    background-image: url(../images/Pinterest.svg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
}

.instagram {
    display: block;
    background-image: url(../images/Instagram.svg);
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
}

.footer__lower-row {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #666666;
    padding-top: 26px;
    margin-top: 28px;
    display: flex;
    width: 1180px;
    justify-content: space-between;
    margin-bottom: 100px;
}


.footer__col-list,
.footer__info-list,
.footer__socials-list {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    list-style-type: none;
}

/* добавил отступ всем кроме первого элемента списка ссылок */
.footer__col-list>*+*,
.footer__info-list>*+* {
    margin-top: 15px;
}

.footer__navigation-link,
.footer__info-link {
    text-decoration: none;
    color: #ffffff;
}

.footer__navigation-link:hover,
.footer__info-link:hover,
.footer__link:hover {
    opacity: 50%;
}

.footer__navigation-link:active,
.footer__info-link:active,
.footer__link:active {
    opacity: 20%;
}

.footer__col-item>a:visited {
    text-decoration: none;
}

.footer__col-list>a {
    text-decoration: none;
}

.footer__raiting-container {
    max-width: 380px;
    width: 380px;
    display: flex;
    gap: 25px;
}

.footer__raiting-container {
    color: #666666;
}

.footer__copiright-container,
.footer__text-container {
    max-width: 380px;
    width: 380px;
}

.footer__text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.footer__design-link {
    display: block;
    max-width: 380px;
    width: 380px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #A2A2A2;
    text-decoration: none;
}


.footer__design-link:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

.footer__design-link:active {
    text-decoration: underline;
    color: #FFFFFF;
}

.footer__raiting {
    position: relative;
    font-size: 15px;
    display: inline-block;
    margin-left: 2px;
    width: 100px;
}


.footer__raiting-items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.footer__input {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}

.footer__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #ffffff;
}

.footer__label::before {
    content: "★";
    display: block;
    transition: color 0.3s ease 0s;
}

.footer__input:checked,
.footer__input:checked~.footer__label {
    color: #C29974;
}

.footer__label:hover,
.footer__label:hover~.footer__label,
.footer__label:checked~.footer__label:hover {
    color: #836E5B;
}

/* warning!!! do not change this class! It's connected with JS */
.footer__colorHoverJs>p {
    color: #C29974
}

.footer__raiting-text {
    color: #C29974;
    transition: none;
}