.filter {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
    background-color: #7D97DA33;
    background-size: 50%;

    padding: 42px 110px;
}

input[type=range].styled-slider {
    width: 188px;
    margin-top: 25px;
    -webkit-appearance: none;
}

/*progress support*/
input[type=range].styled-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
}

input[type=range].styled-slider:focus {
    outline: none;
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background: #FDFDFD;
    border: 9px solid #C29974;
    box-shadow: none;
    margin-top: calc(4px * 0.5 - max(2em * 0.5, 8px));
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
    height: 4px;
    border: none;
    border-radius: 0;
    background: #00000080;
    box-shadow: none;
}

input[type=range].styled-slider::-webkit-slider-thumb:active {
    background: #FFFFFFE6;
    border-color: #C29974D6;
    cursor: pointer;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
    background: linear-gradient(#C29974, #C29974) 0/var(--sx) 100% no-repeat, #00000080;
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
    width: max(calc(2em - 8px - 8px), 0px);
    height: max(calc(2em - 8px - 8px), 0px);
    border-radius: 1em;
    background: #FDFDFD;
    border: 8px solid #C29974;
    box-shadow: none;
}

input[type=range].styled-slider::-moz-range-track {
    height: 4px;
    border: none;
    border-radius: 0;
    background: #00000080;
    box-shadow: none;
}

input[type=range].styled-slider::-moz-range-thumb:active {
    background: #FFFFFFE6;
    border-color: #C29974D6;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
    background: linear-gradient(#C29974, #C29974) 0/var(--sx) 100% no-repeat, #00000080;
}

input[type=range].styled-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
    width: 2em;
    height: 2em;
    border-radius: 1em;
    background: #FDFDFD;
    border: 8px solid #C29974;
    box-shadow: none;
    margin-top: 0;
    box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
    height: 4px;
    border-radius: 0;
    background: #00000080;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
}

input[type=range].styled-slider::-ms-thumb:active {
    background: #FFFFFFE6;
    border-color: #C29974D6;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
    height: 4px;
    border-radius: 0px 0 0 0px;
    margin: -undefined 0 -undefined -undefined;
    background: #C29974;
    border: none;
    border-right-width: 0;
}

.filter__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.filter__cost-text {
    margin-left: -5px;
}

.filter__list {
    margin-top: 15px;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.filter__value-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.filter__value-left {
    margin-left: -5px;
}

.filter__value-right {
    margin-right: -12px;
}

.filter__item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 12px;
}

.check__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.check__box {
    position: absolute;
    margin-left: -30px;
    width: 19px;
    height: 19px;
    background-image: url(../images/chekbox/chekboxborder.svg);
}

.filter__lable {
    padding-left: 30px;
}

.filter__lable:hover {
    text-decoration: underline;
}

.check__input:checked+.check__box {
    background-image: url(../images/chekbox/Checked.svg);
}

.check__input:checked~.filter__description {
    text-decoration: underline;
}

.check__input:focus+.check__box {
    background-image: url(../images/chekbox/Focus.svg);
}

.check__input:checked:focus+.check__box {
    background-image: url(../images/chekbox/Checked.svg);
}

.check__input:disabled+.check__box {
    background-image: url(../images/chekbox/Disabled.svg);

}

.check__input:disabled~.filter__description {
    color: #908484;
}

.check__input:disabled~.filter__description {
    text-decoration: none;
}

.radio__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.radio {
    position: absolute;
    margin-left: -30px;
    width: 20px;
    height: 20px;
    background-image: url(../images/chekbox/radio.svg);
}

.radio__label {
    padding-left: 30px;
}


.radio__label:hover {
    text-decoration: underline;
}

.radio__input:checked+.radio {
    background-image: url(../images/chekbox/activeradio.svg);
}

.radio__input:checked~.radio__description {
    text-decoration: underline;
}

.radio__input:checked:focus+.radio {
    background-image: url(../images/chekbox/activeradio.svg);
}

.radio__input:disabled+.radio {
    background-image: url(../images/chekbox/disabledradio.svg);

}

.radio__input:disabled~.radio__description {
    color: #908484;
}

.radio__input:disabled~.radio__description {
    text-decoration: none;
}

.amount__list {
    max-width: 240px;
    width: 240px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    align-items: center;
}

.amount__list>li {
    display: flex;
    align-items: center;
    justify-content: center;

}

.amount__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 35px;
    width: 80px;
    position: absolute;
}

.amount {
    position: absolute;
    z-index: -1;
    width: 80px;
    height: 35px;
    /* background-color: #F3D0DB; */
}

.amount__label {
    position: absolute;
    width: 80px;
    height: 35px;
    z-index: 1;
}

.amount__label>p {
    text-align: center;
    margin-top: 6px;
}

.amount__input:checked+.amount {
    background-color: #F3D0DB;
}

.filter__button {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    height: 20px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    padding: 9px 22px;
    margin-top: 37px;
}

.filter__button:hover {
    background-color: #C29974;
}

.filter__button:active {
    background-color: #CFAF91;
}

.catalog {
    max-width: 1178px;
    margin: auto;
}

.catalog__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
    row-gap: 45px;
}

.catalog__item {
    position: relative;
    text-align: center;
}

.catalog__product-link {
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    color: #1E0606;
    right: 23%;
    top: 22%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 26px;
    background-color: #E5EAF8;
    opacity: 0;
    line-height: 8;
    width: 55%;
    display: inline-block;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.catalog__product-link:hover {
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    color: #1E0606;
    right: 23%;
    top: 22%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 26px;
    background-color: #E5EAF8;
    opacity: 90%;
    line-height: 8;
    width: 55%;
    display: inline-block;
    text-align: center;
}


.catalog__product-link:active {
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    color: #1E0606;
    right: 23%;
    top: 22%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 26px;
    background-color: #E5EAF8;
    opacity: 67%;
    line-height: 8;
    width: 55%;
    display: inline-block;
    text-align: center;
}

.catalog__description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.catalog__price {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.catalog__pages {
    width: 1174px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.catalog__pages-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 64px;
}

.catalog__pages-item>a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #1E0606;
}

.catalog__arrowleft {
    width: 20px;
    height: 30px;
    background-image: url(../images/arrow.svg);
    opacity: 12%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-position: center;
}

.catalog__arrowleft:hover {
    width: 20px;
    height: 30px;
    background-image: url(../images/arrowhover.svg);
    opacity: 100%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-position: center;
}

.catalog__arrowleft:active {
    width: 20px;
    height: 30px;
    background-image: url(../images/arrowhover.svg);
    opacity: 70%;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-position: center;
}

.catalog__arrowRight {
    width: 20px;
    height: 30px;
    background-image: url(../images/arrow.svg);
    opacity: 12%;
    background-position: center;
}

.catalog__arrowRight:hover {
    width: 20px;
    height: 30px;
    background-image: url(../images/arrowhover.svg);
    opacity: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.catalog__arrowRight:active {
    width: 20px;
    height: 30px;
    background-image: url(../images/arrowhover.svg);
    opacity: 70%;
    background-repeat: no-repeat;
    background-position: center;
}


/* .check__input:checked:disabled+.check__box {
    background-image: url(../images/chekbox/Checked.svg);
} */