.filter {
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    background-color: #7D97DA33;
    padding: 42px 195px 44px 110px;
}

.filter__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.filter__list {
    margin-top: 15px;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.filter__range {
    max-width: 188px;
    display: flex;
    flex-direction: column;
}

.filter__input-range {
    position: relative;
    z-index: 2;
    margin-top: 25px;
    width: 188px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}

.filter__input-range::-webkit-slider-runnable-track {
    height: 4px;
}

.filter__range {
    position: relative;
}

.filter__range .bar {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 47px;
    width: 100%;
    height: 4px;
    background-color: #00000020;
    overflow: hidden;
}

.filter__range .bar .fill {
    display: block;
    width: 50%;
    height: 100%;
    background-color: #C29974;
}

.filter__input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    background: #ecf0f1;
    border: 8.5px solid #C29974;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    margin-top: -10px;
}



.filter__value-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.filter__value-left {
    margin-left: -5px;
}

.filter__value-right {
    margin-right: -12px;
}

.filter__item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 12px;
}

.check__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.check__box {
    position: absolute;
    margin-left: -30px;
    width: 19px;
    height: 19px;
    background-image: url(../images/chekbox/chekboxborder.svg);
}

.filter__lable {
    padding-left: 30px;
}

.filter__lable:hover {
    text-decoration: underline;
}

.check__input:checked+.check__box {
    background-image: url(../images/chekbox/Checked.svg);
}

.check__input:checked~.filter__description {
    text-decoration: underline;
}

.check__input:focus+.check__box {
    background-image: url(../images/chekbox/Focus.svg);
}

.check__input:checked:focus+.check__box {
    background-image: url(../images/chekbox/Checked.svg);
}

.check__input:disabled+.check__box {
    background-image: url(../images/chekbox/Disabled.svg);

}

.check__input:disabled~.filter__description {
    color: #908484;
}

.check__input:disabled~.filter__description {
    text-decoration: none;
}

.radio__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.radio {
    position: absolute;
    margin-left: -30px;
    width: 20px;
    height: 20px;
    background-image: url(../images/chekbox/radio.svg);
}

.radio__label {
    padding-left: 30px;
}


.radio__label:hover {
    text-decoration: underline;
}

.radio__input:checked+.radio {
    background-image: url(../images/chekbox/activeradio.svg);
}

.radio__input:checked~.radio__description {
    text-decoration: underline;
}

.radio__input:focus+.radio {}

.radio__input:checked:focus+.radio {
    background-image: url(../images/chekbox/activeradio.svg);
}

.radio__input:disabled+.radio {
    background-image: url(../images/chekbox/disabledradio.svg);

}

.radio__input:disabled~.radio__description {
    color: #908484;
}

.radio__input:disabled~.radio__description {
    text-decoration: none;
}

.amount__list {
    max-width: 240px;
    width: 240px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    align-items: center;
}

.amount__list>li {
    display: flex;
    align-items: center;
    justify-content: center;

}

.amount__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.amount__label:hover {}


/* .check__input:checked:disabled+.check__box {
    background-image: url(../images/chekbox/Checked.svg);
} */